{% load staticfiles %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>首页_个人博客</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
  <link href="{% static 'css/index.css' %}" rel="stylesheet">
  <link href="{% static 'css/m.css' %}" rel="stylesheet">
  <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">
  <!--[if lt IE 9]>
  <script src="{% static 'js/modernizr.js' %}"></script>
  <![endif]-->
  <script>
      window.onload = function () {
          var oH2 = document.getElementsByTagName("h2")[0];
          var oUl = document.getElementsByTagName("ul")[0];
          oH2.onclick = function () {
              var style = oUl.style;
              style.display = style.display == "block" ? "none" : "block";
              oH2.className = style.display == "block" ? "open" : ""
          }
      }
  </script>
</head>
<body>
<header>
  <div class="tophead">
    <div class="logo"><a href="{% url 'home' %}">XX个人博客</a></div>
    <div id="mnav">
      <h2><span class="navicon"></span></h2>
      <ul>
        <li><a href="{% url 'home' %}">网站首页</a></li>
        <li><a href="{% url 'about' %}">关于我</a></li>
        <li><a href="{% url 'share' %}">模板分享</a></li>
        <li><a href="{% url 'blog' %}">学无止境</a></li>
        <li><a href="#">留言</a></li>
      </ul>
    </div>
    <nav class="topnav" id="topnav">
      <ul>
        <li><a href="{% url 'home' %}">网站首页</a></li>
        <li><a href="{% url 'about' %}">关于我</a></li>
        <li><a href="{% url 'share' %}">模板分享</a></li>
        <li><a href="{% url 'blog' %}">学无止境</a></li>
        <li><a href="#">留言</a></li>
      </ul>
    </nav>
  </div>
</header>
<article>
  <h1 class="t_nav">
    {#    <span><iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=320 height=52#}
    {#              src="//music.163.com/outchain/player?type=2&id=39224244&auto=1&height=32"></iframe></span>#}
    <a href="{% url 'home' %}" class="n1">网站首页</a>
    <a href="/" class="n2">后来的我们</a>
  </h1>
  <div class="ab_box">
    <div class="leftbox">
      <div class="newsview">
        <div class="news_infos">
          <h1 style="font-size: 30px;color: #333;line-height: 1.3;position: relative;font-weight: bold;margin-bottom: 50px">
            后来的我们</h1>
          <div class="content">
            <p><strong>01</strong><br>
              <br>
              曾经，我以为自己是个很幽默的人，比如逗女孩开心，讲的是这样的笑话。<br>
              <br>
              一只蚂蚁第一次出门觅食，突然下起了雨，它不知道怎么回到蚁窝，这时遇见了另外一只蚂蚁，于是问：“你都如何回蚁窝？”&nbsp;<br>
              <br>
              另一只蚂蚁答：“带……带着笑或是很沉默？ ”<br>
              <br>
              后来，我真的听了很多遍《后来》，初听不知曲中意，再听已是曲中人。刘若英唱得淡淡的，却情深意切。<br>
              <br>
              遗失一些曾经的美好，经历几段感情的波折，才明白人生真就是一部肥皂剧，狗血的桥段随时在你身边上演，却都不是happy ending。<br>
              <br>
              多年以前，我觉得《后来》最戳心的歌词是“你都如何回忆我，带着笑或是很沉默”，而现在，反倒更关注“这些年来，有没有人能让你不寂寞”这一句。<br>
              <br>
              也许经历这样一个过程，才是真正的放下了。我最多只想知道过得你好不好，却不再去幻想我们之间是否还有别的可能。哪怕你睡醒后看到的人不再是我，我也会因为你可以拥有幸福而开心。<br>
              <br>
              “后来，终于在眼泪中明白，有些人一旦错过就不再。”<br>
              <br>
              <strong>02</strong><br>
              <br>
              时隔17年，刘若英把《后来》拍成了《后来的我们》。<br>
              <br>
              上映第一天，我就去电影院看了，虽然没有期待中的惊艳，但是故事情节完整，演技画面在线，有被触动的部分，已经算是值回票价。尤其是最后林父写的那封信，让我一下子就泪奔了。<br>
              <br>
              见清和小晓，两个北漂的青年，因为患难而走到一起，相爱又契合。但他们都是一身缺点的俗人，尚不成熟的性格，对待感情的莽撞，甚至物质的匮乏，都让他们在感情里走得跌跌撞撞。<br>
              <br>
              分手于他们而言，从一开始就注定，如果没有失去挚爱的痛楚，就不会有见清后来的功成名就。<br>
              <br>
              如果换成从前的我，肯定会觉得见清没做错什么，全程都是小晓在作。你要的沙发、大房子、北京户口，我一直都在努力给你，只是还需要一点时间，你为什么还要赌气离开我？<br>
              <br>
              生活中也有很多见清那样的人，不开心了就用冷暴力逼女孩离开，自己还一脸茫然地说，你要的我都给你了啊？你怎么还不满足？<br>
              <br>
              可是，男女思维并不一样，你觉得她想要的是那些物质，而她真正想要的，是被你认定的感觉。她想要本地的房子，是想真正安定下来不用再被房东一个电话赶走，她想有自己的沙发，是想和你在一起时可以想肆无忌惮地蹦?。她想要的是欢乐的时光可以永远延续下去，而不是你的颓废和冷暴力。<br>
              <br>
              电影让人触动的地方，是恋爱的美好和离开的决绝，都太真实了。有些人最后没能走到一起，不是因为不爱了，只是互相了解，互相折磨，终于有一方受不了，攒够了失望。<br>
              <br>
              在爱情面前，美好的时光就像夜空一颗忽闪而过的流星，擦亮了你我，但转瞬即逝。你回忆起的往事，不过是灿烂背后的冷寂，酸楚背后的坚强，幽怨背后的珍惜。<br>
              <br>
              <strong>03</strong><br>
              <br>
              高中时代，我有两个铁磁兄弟，其中一个叫左逸，文理分科的时候选择了文，高二就和学霸女友林楠偷吃了禁果。<br>
              <br>
              想比之下，那时的我还不开窍，即便也有过心动的文科班女孩，却只是欣赏她一颦一笑裙摆飘飘的样子，只要能和她单独相处几分钟，便能在心里乐开了花。<br>
              <br>
              记得有一次去配钥匙，本来都配好了，看到她来了，假装自己刚刚到，立即要求师傅再配一把。<br>
              <br>
              而左逸的爱情，是和肉欲纠缠在一起的。尽管一向高冷，他也会在和我们一起躺在草坪聊天的时候，说起他的床上功夫，成为我们铁三角在这些冷门知识方面的启蒙者。<br>
              <br>
              进入高三以后，他和林楠处于周末同居的状态，林楠是全县文科的前十强，搞到最后勉强才上得二本，当时有一种谣传，说她是因为高考体检查出了怀孕。<br>
              <br>
              只有我清楚那并不是谣传，她那次从那个像作坊一样的小黑屋出来，差点就没能醒过来。<br>
              <br>
              更加遗憾的是，左逸没能和林楠考进同一所大学，他的周末和假期大部分时间都耗费在火车上，只要有空就会去看林楠，折腾到后来只为陪伴，连滚床单都少了。<br>
              <br>
              堕胎的事让林楠的父母觉得蒙羞，便赌气把她送到左逸家，就不管不顾了。左逸的父母同意供她读完大学，但坚决反对她和左逸在一起。<br>
              <br>
              他们嫌弃林楠生得瘦小不好生养，一张哭脸克夫相，左逸和家里闹得不可开交，甚至吵到要和父母断绝关系的地步。<br>
              <br>
              左逸的态度始终很坚决??我这辈子就只会娶林楠这一个女孩。<br>
              <br>
              <strong>04</strong><br>
              <br>
              关系稍缓和是大四那年，左逸的父亲做心脏移植手术，林楠像儿媳妇一样前前后后担惊受怕照顾了三个多月，甚至连学业也荒废了，延迟一年毕业。<br>
              <br>
              左父换掉的心脏似乎有了新的温度，终于接受了林楠。<br>
              <br>
              毕业后，左逸考进银行工作，林楠成了乡村特岗教师。只是左逸太忙了，忙到无暇再去看望身在异地的林楠，父亲的病需要长期服昂贵的药物，他必须赚很多钱才能让父亲续命。<br>
              <br>
              又过了两年，左逸奉子成婚，新娘是一个同事，岳父能在事业上助左逸一路直进。<br>
              <br>
              大婚前夜，左逸约我们铁三角喝酒，他说：“以前父亲健康的时候，我天不怕地不怕，以为爱情最伟大，现在我的天塌了，只想多赚点钱，和谁过日子没区别。”<br>
              <br>
              另一个兄弟问：“那林楠算什么？”<br>
              <br>
              左逸红着眼眶说：“算她瞎了眼，遇人不淑吧。”<br>
              <br>
              我也发起了酒疯，说：“一切都是托词，一切都是借口。我更觉得我们都是渣男，爱一个人的时候，她是天，是信仰，是捧在手心里的宝贝，是无与伦比的美好。不爱她了，她就是一堆尘土，一地玻璃渣子，没人要的垃圾，都不惜多看一眼。”<br>
              <br>
              说这话的时候，我仿佛还能听见左逸态度坚决地说，我这辈子就只会娶林楠这一个女孩。<br>
              <br>
              <strong>05</strong><br>
              <br>
              在看《后来的我们》的过程中，我最心疼的其实见清的老婆，不仅老公一直放不下前任，公公在车站还抓着她的手，喊的却是另一个女孩的名字。<br>
              <br>
              而见清，其实也是个渣男，多次对小晓使用冷暴力，小晓提出分手上了地铁，他追了出去却没有勇气跟她走。因为小晓说了，如果他追上去就会跟他一辈子。<br>
              <br>
              而且他还是出轨惯犯。和小晓在一起的时候，穷困潦倒了还在网上撩妹；结婚了过年回不去，老婆也不放心他，让儿子通过视频查岗；如果不是刚好被同事撞上，他估计还会把小晓推倒；他问，如果我们还在一起呢？小晓说，那你已经找了不下十个小三了。<br>
              <br>
              这样看来，在爱情里最受伤的，其实是女生啊。见清娶妻生子，灶边炉台，金钱地位都有了，只有小晓还在只身漂泊，还没遇到一个靠谱的，值得托付终身的人。<br>
              <br>
              故事在别人的笔下，很多都是以大团圆结局，而发生在我们身上的，却变得面目全非。<br>
              <br>
              在别人的故事里，到最后都会有一个超级英雄来终结一切拯救世界，而我们的世界里，只有自己能拯救自己。<br>
              <br>
              <strong>06</strong><br>
              <br>
              毕鑫业的微电影《再见金华站》有这样一句台词：某天，你无端想起一个人，他曾让你对明天充满期许，但是却完全没有出现在你的明天里。<br>
              <br>
              我们的一生，本就是充满遗憾的艺术，那个曾经想为你上九天揽月的人，也许已经揽着别人睡着了，那个曾经想为你下五洋捉鳖的人，可能正被别人捉奸在床。<br>
              <br>
              就像电影的台词，后来我们什么都有了，却没有我们。缘分这事，能不负对方就好，想要不负此生，真的很难。<br>
              <br>
              也像观众的感慨，慢慢大家都会明白的，无法跟喜欢的人在一起，其实是人生的常态。<br>
              <br>
              人生天地间，忽如远行客，爱一直都是这个世界上最美好的事，只有体会到种种爱而不得的心情，才会用为爱痴狂的心去爱世间万物。<br>
              <br>
              你也要相信，还会有一个人，他将在往后的岁月中，给你更长久幸福，虽然他不曾来过你的青春<br>
              <br>
              作者：衷曲无闻<br>
              来源：<a href="https://www.jianshu.com/p/22c5b6081eac" rel="noopener"
                    target="_blank">简书</a><br>
              <br>
          </div>
        </div>
      </div>
    </div>
    <div class="rightbox">
      <div class="aboutme">
        <h2 class="hometitle">关于我</h2>
        <div class="avatar"><img src="../static/images/avatar.jpg"></div>
        <div class="ab_con">
          <p>网名：dancesmile | 杨青</p>
          <p>职业：Web前端设计师、网页设计 </p>
          <p>个人微信：yangqq_1987</p>
          <p>邮箱：dancesmiling@qq.com</p>
        </div>
      </div>
      <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 allowtransparency="true"
              style="background-color:transparent;background: #FFF; overflow: hidden;"
              src="//music.163.com/outchain/player?type=2&id=1313118277&auto=1&height=66"></iframe>
      <div class="weixin">
        <h2 class="hometitle">微信关注</h2>
        <ul>
          <img src="../static/images/wx.jpg">
        </ul>
      </div>
    </div>
  </div>
</article>
<footer>
  <p>Design by <a href="/">杨青个人博客</a> <a href="/">蜀ICP备11002373号-1</a></p>
</footer>
<script src="../static/js/nav.js"></script>
</body>
</html>
